header {
    background-color: rgb(60, 1, 1);
    text-align: center;
    color: rgb(160, 160, 10);
    padding: 20px; /* um respiro no header */
}

h1 {
    font-size: 70px;
    font-family: "Segoe Script", cursive; /* com fallback */
    margin: 10px 0; /* margem superior e inferior */
}

header p {
    font-size: 18px;
}

main h2 {
    text-align: center;
    color: rgb(160, 160, 10);
}

.informacoes {
    background-color: rgb(100, 1, 1);
}

li.alinhada {
    display: flex;         /* ativa flexbox */
    gap: 15px;             /* espaçamento entre span e p */
    align-items: center;   /* alinha verticalmente os elementos */
    font-size: 18px;
    font-weight: bold;
    color: white;
}

/* Rótulo em negrito */
li.alinhada span {
    font-size: 18px;
    font-weight: bold;
    color: rgb(160, 160, 10);
}

#historia {
    background-color: rgb(80, 1, 1);
}

.fonte {
    font-family: monospace;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 100;
    color: white;
}

.outros {
    display: inline;
    margin-right: 100px;
    width: 30px;
}

.mais {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: rgb(160, 160, 10);
}

.adds {
    text-align: center;
}

a.mais {
    padding: 0px 60px;
    
}
